/* Aspect ratio of the roulette table */
:root {
    --rlt-table-ar: 3.33;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size: 1rem;
}

.rlt-game {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: space-between;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Roulette table */
.rlt-table {
    display: flex;
    order: 0;
}

@media screen and (min-width: 550px) {
    .rlt-table {
        flex-direction: column;
    }
}

.rlt-table__numbers {
    /* height: 150px; */
    position: relative;
    width: 110px;
    min-width: 110px;
    aspect-ratio: 4/10;
    transform-origin: 50% 50%;
    order: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 60px;
    order: 1;
}

@media screen and (min-width: 550px) {
    .rlt-table__numbers {
        order: 0;
    }
}

@media screen and (min-width: 550px) {
    .rlt-table__numbers {
        aspect-ratio: 10/1.8;
        width: 500px;
        min-width: 500px;
        flex-direction: row;
        flex-direction: column-reverse;
        padding-top: 0px;
        padding-left: 68px;
    }
}

.rlt-table__cell {
    width: 36px;
    height: 30px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rlt-table__cell:hover {
    cursor: pointer;
}

@media screen and (min-width: 550px) {
    .rlt-table__cell {
        width: 33px;
    }
}

.rlt-table__cell--zero {
    position: absolute;
    background-color: green;
    border-radius: 100px 100px 0 0;
    transform: rotate(0deg);
    top: 0px;
    height: 60px;
    width: 108px;
}

.rlt-table__cell--border {
    border: 1px solid #000;
}

@media screen and (min-width: 550px) {
    .rlt-table__cell--zero {
        transform: rotate(-90deg);
        top: 20px;
        left: -1px;
        height: 50px;
        width: 89px;
    }
}

.rlt-table__cell--number {
    background-color: #000;
    color: #fff;
}

.rlt-table__cell--number:nth-child(2n) {
    background-color: #f00;
}

.rlt-table__cell-hidden {
    visibility: hidden;
}

.rlt-table__mixed {
    display: flex;
    padding-top: 60px;
    font-size: 0.8rem;
}

@media screen and (min-width: 550px) {
    .rlt-table__mixed {
        padding-top: 0;
        padding-left: 68px;
        flex-direction: column;
    }
}


.rlt-table__third-section {
    order: 1;
    display: flex;
    flex-direction: column;
}

.rlt-table__third-section div {
    border: 1px solid #000;
    flex-basis: 120px;
    display: flex;
    align-items: center;
}

.rlt-table__third-section div:hover {
    cursor: pointer;
}

.rlt-table__third-section div span {
    writing-mode: vertical-rl;
    line-height: 30px;
    pointer-events: none;
}
    

@media screen and (min-width: 550px) {
    .rlt-table__third-section {
        order: 0;
        flex-direction: row;
    }
    
    .rlt-table__third-section div {
        justify-content: center;
        flex-basis: 132px;
    }

    .rlt-table__third-section div span {
        writing-mode: lr;
    }
}

.rlt-table__coinflips {
    text-transform: uppercase;
    order: 0;
    display: flex;
    flex-direction: column;
}

.rlt-table__coinflips div {
    border: 1px solid #000;
    flex-basis: 58px;
    display: flex;
    align-items: center;
}

.rlt-table__coinflips div:hover {
    cursor: pointer;
}

.rlt-table__coinflips div span {
    writing-mode: vertical-rl;
    line-height: 30px;
    pointer-events: none;
}

@media screen and (min-width: 550px) {
    .rlt-table__coinflips {
       flex-direction: row;
    }

    .rlt-table__coinflips div {
        justify-content: center;
        flex-basis: 65px;
    }

    .rlt-table__coinflips div span {
        writing-mode: lr;
    }
}

/* TODO: */
/* Magic numbers????? */
/* Fix small differences in the roulette table */
/* Refactor and cleanup */

/* Bet Chips */

.action-container__chips {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    flex-direction: column;
    flex-basis: 35%;
    width: 140px;
    align-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) {
    .action-container__chips {
        flex-basis: calc(100% - 180px);
    }
}

@media screen and (min-width: 550px) {
    .action-container__chips {
        flex-basis: 50%;
        justify-content: space-between;
        order: 2;
        flex-direction: row;
        width: 270px;
    }

    .action-container__chips, .action-container__actions {
        margin-top: 20px;
    }
}

.action-container__chip {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

@media screen and (min-width: 550px) {
    .action-container__chip {
        margin-right: 8px;
        margin-bottom: 0px;
    }
}

.action-container__chip:hover {
    cursor: pointer;
}

.action-container__chip:last-of-type {
    margin-right: 0;
}

.action-container__chip--selected {
    box-shadow: 2px 0px 6px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 0px 6px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 6px 4px rgba(0,0,0,0.75);
}

/* Actions Double/Clear/Undo */

.action-container__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 2;
    margin-left: 0px;
    flex-basis: 170px;
    margin-top: 20px;
}

@media screen and (min-width: 550px) {
    .action-container__actions {
        order: 1;
        flex-basis: 30%;
        margin-left: 10px;
    }
}

.action-container__action {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.action-container__action:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.action-container__action--undo {
    background-image: url('./assets/images/btn-undo.png');
}

.action-container__action--clear {
    background-image: url('./assets/images/btn-clear.png');

}

.action-container__action--double {
    background-image: url('./assets/images/btn-x2.png');
}